---
import Layout from "../../layouts/Layout.astro";
import OfferCard from "../../components/OfferCard.astro";
import { getEntry } from "astro:content";

const { data } = await getEntry("offer", "offer");
---

<Layout title="Welcome to Astro.">
  <section
    class:list={["animationHidden animationBottom", "container mx-auto py-16"]}
  >
    <div class="grid gap-4 py-10 lg:grid-cols-2">
      <div class="grid gap-4">
        {
          data.offer_list.map((offerItem, index) => (
            <OfferCard offerItem={offerItem} index={index + 1} />
          ))
        }
      </div>
      <div class="grid gap-4">
        {
          data.offer_list.map((offerItem, index) => (
            <OfferCard offerItem={offerItem} index={index} />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
