---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import TestimonialsSection from "../components/TestimonialsSection.astro";
import KnownClientsSection from "../components/KnownClientsSection.astro";
import OfferSection from "../components/OfferSection.astro";
import TeamSection from "../components/TeamSection.astro";
import MapSection from "../components/MapSection.astro";
import FaqSection from "../components/FaqSection.astro";
import CtaSection from "../components/CtaSection.astro";
import Spacer from "../components/Spacer.astro";
import { getEntry } from "astro:content";

const { data } = await getEntry("pages", "home_page");

const { hero, testimonials, known_clients } = data;
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero hero={hero} />
    <TestimonialsSection testimonials={testimonials} />
    <Spacer />
    <KnownClientsSection known_clients={known_clients} />
    <Spacer type="secondary" />
    <OfferSection withButton />
    <Spacer />
    <TeamSection />
    <Spacer type="secondary" />
    <MapSection />
    <Spacer />
    <FaqSection />
    <Spacer type="secondary" />
    <CtaSection />
  </main>
</Layout>
