---
import SectionHeader from "./SectionHeader.astro";
import LinkButton from "./LinkButton.astro";
---

<section class="container mx-auto py-16">
  <h3 class="text-center">Would you like to work with us?</h3>
  <SectionHeader text="Book a first session <br/> for free" />
  <div class="text-4xl flex justify-center gap-16 pt-14">
    <LinkButton text="Book a session" link="/" />
    <LinkButton text="Contact us" link="/" type="secondary" />
  </div>
</section>
