---
import type { CollectionEntry } from "astro:content";
import FaqCard from "../components/FaqCard.astro";
import SectionHeader from "../components/SectionHeader.astro";

type Pages = CollectionEntry<"pages">;

interface Props {
  faqSection: Pages["data"]["faq_section"];
}

const { faqSection } = Astro.props;
---

<section
  class:list={["animationHidden animationBottom", "container mx-auto py-16"]}
>
  <SectionHeader text={faqSection.heading} />
  <div class="pt-10">
    {
      faqSection.faq_list.map((faqItem) => (
        <FaqCard faqItem={faqItem} />
      ))
    }
  </div>
</section>
