---
import FaqCard from "../components/FaqCard.astro";
import SectionHeader from "../components/SectionHeader.astro";

const questions = [
  {
    question: "Some stupid question for SEO",
    answer:
      "Duis vitae dignissim eros. Fusce rhoncus congue dui, iaculis suscipit mauris posuere et. In pellentesque felis non ante pulvinar, in tempus enim imperdiet. Curabitur nec ultricies nisl. Vestibulum at condimentum lorem, sit amet semper dui. Donec risus lacus, faucibus vitae convallis vitae, laoreet quis magna. Nulla leo lectus, mattis ut semper eu, fringilla at nisl. Duis eleifend nisi orci, sed euismod nisi ullamcorper varius.",
  },
  {
    question: "Some stupid question for SEO",
    answer:
      "Duis vitae dignissim eros. Fusce rhoncus congue dui, iaculis suscipit mauris posuere et. In pellentesque felis non ante pulvinar, in tempus enim imperdiet. Curabitur nec ultricies nisl. Vestibulum at condimentum lorem, sit amet semper dui. Donec risus lacus, faucibus vitae convallis vitae, laoreet quis magna. Nulla leo lectus, mattis ut semper eu, fringilla at nisl. Duis eleifend nisi orci, sed euismod nisi ullamcorper varius.",
  },
  {
    question: "Some stupid question for SEO",
    answer:
      "Duis vitae dignissim eros. Fusce rhoncus congue dui, iaculis suscipit mauris posuere et. In pellentesque felis non ante pulvinar, in tempus enim imperdiet. Curabitur nec ultricies nisl. Vestibulum at condimentum lorem, sit amet semper dui. Donec risus lacus, faucibus vitae convallis vitae, laoreet quis magna. Nulla leo lectus, mattis ut semper eu, fringilla at nisl. Duis eleifend nisi orci, sed euismod nisi ullamcorper varius.",
  },
  {
    question: "Some stupid question for SEO",
    answer:
      "Duis vitae dignissim eros. Fusce rhoncus congue dui, iaculis suscipit mauris posuere et. In pellentesque felis non ante pulvinar, in tempus enim imperdiet. Curabitur nec ultricies nisl. Vestibulum at condimentum lorem, sit amet semper dui. Donec risus lacus, faucibus vitae convallis vitae, laoreet quis magna. Nulla leo lectus, mattis ut semper eu, fringilla at nisl. Duis eleifend nisi orci, sed euismod nisi ullamcorper varius.",
  },
  {
    question: "Some stupid question for SEO",
    answer:
      "Duis vitae dignissim eros. Fusce rhoncus congue dui, iaculis suscipit mauris posuere et. In pellentesque felis non ante pulvinar, in tempus enim imperdiet. Curabitur nec ultricies nisl. Vestibulum at condimentum lorem, sit amet semper dui. Donec risus lacus, faucibus vitae convallis vitae, laoreet quis magna. Nulla leo lectus, mattis ut semper eu, fringilla at nisl. Duis eleifend nisi orci, sed euismod nisi ullamcorper varius.",
  },
];
---

<section class="container mx-auto py-16">
  <SectionHeader text="Frequently asked <br/> question" />
  <div class="pt-14">
    {
      questions.map((question) => (
        <FaqCard question={question.question} answer={question.answer} />
      ))
    }
  </div>
</section>
