---
import LinkButton from "./LinkButton.astro";

import Hamburger from "./Hamburger.astro";

const links = [
  { href: "#testimonials", text: "Testimonials" },
  { href: "#our-clients", text: "Our Clients" },
  { href: "#offer", text: "Offer" },
  { href: "#team", text: "Team" },
  { href: "#contact", text: "Contact" },
];
---

<header class="relative flex justify-center bg-neutral-900">
  <div class="container flex items-center justify-between p-6 max-lg:flex-col">
    <div
      class="relative z-30 flex w-full justify-between max-lg:px-4 max-lg:py-1"
    >
      <h2 class="from-neutral-700 text-3xl text-white">
        <a href="/">PowerHouse</a>
      </h2>
      <div class="flex items-center lg:hidden">
        <Hamburger />
      </div>
    </div>
    <div
      class="absolute left-0 top-0 z-20 h-full w-full bg-neutral-900 lg:hidden"
    >
    </div>
    <nav
      class="z-10 text-white backdrop-blur-xl transition-transform duration-500 max-lg:absolute max-lg:bottom-0 max-lg:w-full max-lg:bg-neutral-800/60 max-lg:data-[visible=true]:translate-y-[100%]"
      data-id="nav"
      data-visible="false"
    >
      <ul
        class="flex items-center text-base max-lg:flex-col max-lg:py-8 lg:space-x-8"
      >
        {
          links.map((link) => (
            <li
              class:list={[
                "relative text-nowrap after:transition-all max-lg:pb-4",
                "after:absolute after:bottom-0 after:left-0 after:block after:h-[1px] after:w-full after:-translate-x-4 after:bg-white after:opacity-0 hover:after:translate-x-0 hover:after:opacity-100 max-lg:after:-translate-y-4 max-lg:hover:after:-translate-y-4 md:after:h-[3px]",
              ]}
            >
              <a href={"/" + link.href}>{link.text}</a>
            </li>
          ))
        }
        <li class="text-nowrap max-lg:pb-4">
          <LinkButton
            link="/#cta"
            text="Book Appointment"
            type="secondary"
            fontColor="text-white"
          />
        </li>
      </ul>
    </nav>
  </div>
</header>

<script>
  const init = () => {
    const button = document.querySelector("[data-id='hamburger']");
    const nav = document.querySelector("[data-id='nav']");

    const toggleMenu = () => {
      const isVisible = button?.getAttribute("data-visible");

      if (isVisible === "true") {
        button?.setAttribute("data-visible", "false");
        nav?.setAttribute("data-visible", "false");
      } else if (isVisible === "false") {
        button?.setAttribute("data-visible", "true");
        nav?.setAttribute("data-visible", "true");
      }
    };

    button?.addEventListener("click", toggleMenu);
  };

  init();

  // Re-initialize after swapping pages
  document.addEventListener("astro:after-swap", init);
</script>
