---
import CustomPicture from "../components/CustomPicture.astro";
import LinkButton from "./LinkButton.astro";
import heroBackground from "../assets/images/heroBackground.png";
import heroBackgroundMobile from "../assets/images/heroBackgroundMobile.png";

import type { CollectionEntry } from "astro:content";

type Pages = CollectionEntry<"pages">;

interface Props {
  hero: Pages["data"]["hero"];
}

const { hero } = Astro.props;
---

<div class="relative overflow-hidden max-lg:h-[90vh] lg:-top-2">
  <div class="w-full bg-neutral-800 max-lg:h-14 lg:hidden"></div>
  <CustomPicture
    alt=""
    desktopImgUrl={heroBackground}
    mobileImgUrl={heroBackgroundMobile}
    styles="absolute object-cover max-lg:h-full min-w-full lg:min-h-full lg:object-right"
  />
  <section class:list={["animationHidden", "container mx-auto"]}>
    <div
      class="flex flex-col items-center gap-4 pb-44 max-lg:text-center lg:relative lg:items-start lg:pt-16"
    >
      <h1
        class="text-normal text-5xl text-white max-lg:-translate-y-[26%] lg:text-9xl lg:leading-[120px]"
        set:html={hero.heading}
      />

      <div
        class="max-lg:absolute max-lg:left-1/2 max-lg:top-1/2 max-lg:-translate-x-1/2 max-lg:translate-y-12"
      >
        <p
          class="mb-3 max-w-xl text-lg text-white max-xl:px-4 max-lg:w-[30ch] max-lg:rounded-xl max-lg:bg-neutral-200/30 max-lg:backdrop-blur-sm max-lg:backdrop-brightness-75 lg:text-4xl"
        >
          {hero.sub_heading}
        </p>

        <LinkButton text="Book Appointment" link="/" fontColor="text-black" />
      </div>
    </div>
  </section>
</div>
