---
import { Image } from "astro:assets";
import Client from "../assets/images/client.png";

const { name, role, record } = Astro.props;
---

<div class="relative">
  <Image
    src={Client}
    alt=""
    class=""
  />
  <article class="absolute left-0 bottom-0 pb-16 pl-16">
    <p class="mb-2 text-3xl lg:text-5xl text-white" set:html={name} />
    <p class="mb-2 inline-block rounded-3xl bg-yellow-300 px-8 text-base lg:text-xl">
      {record}
    </p>
    <p class=" text-xl lg:text-2xl text-white">{role}</p>
  </article>
</div>
