---
interface Props {
  link: string;
  text: string;
  fontSize?: string;
  fontColor?: string;
  type?: "primary" | "secondary";
}
const { link, text, type, fontSize, fontColor } = Astro.props;

const buttonTypes = {
  primary: "bg-yellow-300 text-black",
  secondary: "border border-yellow-300 backdrop-blur-md",
};

const buttonType = type ? buttonTypes[type] : buttonTypes.primary;

const styles = {
  type: buttonType,
  fontColor: fontColor || "text-black",
  fontSize: fontSize || "text-sm lg:text-base",
};
---

<a href={link} class="inline-block">
  <p class:list={["transition-all duration-300 hover:bg-yellow-500  rounded-xl px-8 py-3 font-bold", ...Object.values(styles)]}>{text}</p>
</a>
