---
// @ts-nocheck
import { Image } from "astro:assets";
import LinkButton from "./LinkButton.astro";
import type { ImageMetadata } from "astro";

interface Props {
  img: ImageMetadata;
  name: string;
  role: string;
  index: number;
}

const { img, name, role, index } = Astro.props;

const type = index % 2;
const dimenssion = {
  "0": "aspect-[640/350]",
  "1": "aspect-[1/1]",
};
---

<article
  class={`rounded-3xl overflow-hidden relative grid gap-4 ${dimenssion[type.toString()]}`}
>
  <Image src={img} alt="" class="h-full w-full object-cover object-bottom" />
  <div class="absolute bottom-0 left-0 w-full pb-7 pl-7 text-white">
    <p class="pb-3 lg:text-xl">{role}</p>
    <p class="pb-3 font-archivo-black text-3xl font-black lg:text-5xl">
      {name}
    </p>
    <LinkButton link="" text="Learn More >>" />
  </div>
</article>
