---
import TeamMemberCard from "../components/TeamMemberCard.astro";
import SectionHeader from "../components/SectionHeader.astro";
import type { CollectionEntry } from "astro:content";

type Pages = CollectionEntry<"pages">;

interface Props {
  teamSection: Pages["data"]["team_section"];
}

const { teamSection } = Astro.props;

---

<div id="team">
  <section
    class:list={["animationHidden animationBottom", "container mx-auto py-16"]}
  >
    <SectionHeader text={teamSection.heading} />
    <p class="mx-auto max-w-[510px] pt-5 text-xl lg:text-4xl">
      {teamSection.sub_heading}
    </p>

    <div class="flex items-center justify-center gap-8 pt-10 max-lg:flex-col">
      {
        teamSection.team_list.map((member) => (
          <TeamMemberCard member={member} />
        ))
      }
    </div>
  </section>
</div>
