---
import TeamMemberCard from "../components/TeamMemberCard.astro";
import SectionHeader from "../components/SectionHeader.astro";

const members = [
  {
    name: "George <br/> Surname",
    role: "Boxing",
  },
  {
    name: "George <br/> Surname",
    role: "Boxing",
  },
  {
    name: "George <br/> Surname",
    role: "Boxing",
  },
];
---

<div id="team">
<section
  class:list={["animationHidden animationBottom", "container mx-auto py-16"]}
>
  <SectionHeader text="Meet our <br/> team" />
  <p class="mx-auto max-w-[510px] pt-5 text-xl lg:text-4xl">
    Where Science Meets Sweat to Propel You Towards Your Ultimate Strength
    Goals.
  </p>

  <div class="flex items-center justify-center gap-8 pt-14 max-lg:flex-col">
    {
      members.map((member) => (
        <TeamMemberCard name={member.name} role={member.role} />
      ))
    }
  </div>
</section>
</div>
