---
import { Image } from "astro:assets";
import TeamMember from "../assets/images/team-member.png";
import LinkButton from "./LinkButton.astro";

const { name, role } = Astro.props;
---

<div class="relative">
  <Image src={TeamMember} alt="" />
  <article class="absolute bottom-0 left-0 bg-neutral-800 p-7 w-full rounded-3xl">
    <p class="text-white lg:text-xl">
      {role}
      <p
        class="mb-3 font-archivo-black text-3xl lg:text-5xl font-black text-white"
        set:html={name}
      />
      <LinkButton link="/" text="Learn More" type="secondary" />
    </p>
  </article>
</div>
