---
import TestimonialCard from "../components/TestimonialCard.astro";
import SectionHeader from "../components/SectionHeader.astro";

const testimonials = [
  {
    name: "Karen Smith",
    role: "Proffesional Someone",
    review:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam erat lectus, ac feugiat nisl lobortis ac. Maecenas purus elit, tristique et mi at, porttitor pellentesque eros.",
  },
  {
    name: "Karen Smith",
    role: "Proffesional Someone",
    review:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam erat lectus, ac feugiat nisl lobortis ac. Maecenas purus elit, tristique et mi at, porttitor pellentesque eros.",
  },
  {
    name: "Karen Smith",
    role: "Proffesional Someone",
    review:
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam erat lectus, ac feugiat nisl lobortis ac. Maecenas purus elit, tristique et mi at, porttitor pellentesque eros.",
  },
];
---

<section class="w-full overflow-hidden py-16 lg:container lg:mx-auto">
  <SectionHeader text="Good words <br/> about us" />
  <div
    class="flex gap-8 px-4 pt-14 max-lg:overflow-x-scroll lg:justify-center lg:gap-16"
  >
    {
      testimonials.map((testimonial) => (
        <TestimonialCard
          name={testimonial.name}
          role={testimonial.role}
          review={testimonial.review}
        />
      ))
    }
  </div>
</section>
