---
import TestimonialCard from "../components/TestimonialCard.astro";
import SectionHeader from "../components/SectionHeader.astro";

import type { CollectionEntry } from "astro:content";

type Pages = CollectionEntry<"pages">;

interface Props {
  testimonials: Pages["data"]["testimonials"];
}

const { testimonials } = Astro.props;
---

<div id="testimonials">
  <section
    class:list={[
      "animationHidden animationBottom",
      "w-full overflow-hidden py-16 lg:container lg:mx-auto",
    ]}
  >
    <SectionHeader text={testimonials.heading} />
    <div
      class="flex gap-8 px-4 pt-10 max-lg:overflow-x-scroll lg:justify-center lg:gap-16"
    >
      {
        testimonials.testimonials.map((testimonial) => (
          <TestimonialCard testimonial={testimonial} />
        ))
      }
    </div>
  </section>
</div>
